__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
env.bak/
venv.bak/
.DS_Store
Thumbs.db
ffmpeg.exe
*.exe
*.dll
*.so
*.env
*.sublime-workspace
*.sublime-project
*.vscode/
*.idea/
*.log
*.sql
*.sqlite
build/
dist/
*.tmp
*.bak
node_modules/
*.mp3
*.wav
*.flac